.app{
    padding: 20px;
    margin: 20px;
    border: 3px solid maroon;
    background-color: rgb(236, 255, 255);
    h1{
        color: maroon;
    }
}

.app-content-hidden{
    display: none;
}
.welcome{
    background-color: rgb(141, 207, 207);
    border: 1px solid black;
}